In [3]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv("Chicago_Crime_Detective.csv")

c:\Users\anike\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (7,8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [5]:
df.head()

,Unnamed: 0,ID,Date,LocationDescription,Arrest,Domestic,Beat,District,CommunityArea,Year
0,0,8951354,12/31/12 23:15,STREET,False,False,623,6,69,2012
1,1,8951141,12/31/12 22:00,STREET,False,False,1213,12,24,2012
2,2,8952745,12/31/12 22:00,RESIDENTIAL YARD (FRONT/BACK),False,False,1622,16,11,2012
3,3,8952223,12/31/12 22:00,STREET,False,False,724,7,67,2012
4,4,8951608,12/31/12 21:30,STREET,False,False,211,2,35,2012

In [6]:
df.dtypes

Unnamed: 0              int64
ID                      int64
Date                   object
LocationDescription    object
Arrest                   bool
Domestic                 bool
Beat                    int64
District               object
CommunityArea          object
Year                    int64
dtype: object

In [7]:
df['Date'].value_counts()

5/16/08 0:00      11
9/17/05 22:00     10
4/13/04 21:00     10
10/17/01 22:00    10
10/13/01 22:00     9
                  ..
12/8/07 17:00      1
12/8/07 18:00      1
12/8/07 19:40      1
12/8/07 23:35      1
7/5/06 21:30       1
Name: Date, Length: 131680, dtype: int64

In [10]:
df['Date'] = pd.to_datetime(df['Date'])

In [12]:
df.dtypes

Unnamed: 0                      int64
ID                              int64
Date                   datetime64[ns]
LocationDescription            object
Arrest                           bool
Domestic                         bool
Beat                            int64
District                       object
CommunityArea                  object
Year                            int64
dtype: object

In [17]:
length = len(df['Date'])
sorted(df['Date'])[length//2]

Timestamp('2006-05-21 12:30:00')

In [28]:
df['Hour'] = df['Date'].apply(lambda time: time.hour)
df['Month'] = df['Date'].apply(lambda time: time.month)
df['Day'] = df['Date'].apply(lambda time: time.dayofweek)
df.head()

,Unnamed: 0,ID,Date,LocationDescription,Arrest,Domestic,Beat,District,CommunityArea,Year,Hour,Month,Day
0,0,8951354,2012-12-31 23:15:00,STREET,False,False,623,6,69,2012,23,12,0
1,1,8951141,2012-12-31 22:00:00,STREET,False,False,1213,12,24,2012,22,12,0
2,2,8952745,2012-12-31 22:00:00,RESIDENTIAL YARD (FRONT/BACK),False,False,1622,16,11,2012,22,12,0
3,3,8952223,2012-12-31 22:00:00,STREET,False,False,724,7,67,2012,22,12,0
4,4,8951608,2012-12-31 21:30:00,STREET,False,False,211,2,35,2012,21,12,0

In [26]:
df['Month'].value_counts()

10    17086
7     16801
8     16572
12    16426
11    16063
9     16060
1     16047
5     16035
6     16002
3     15758
4     15280
2     13511
Name: Month, dtype: int64

In [30]:
df['Day'].value_counts()

4    29284
2    27416
0    27397
3    27319
5    27118
1    26791
6    26316
Name: Day, dtype: int64

In [48]:
posarr = df[df['Arrest'] == True]
posarr['Month'].value_counts()

1     1435
12    1397
10    1342
8     1329
7     1324
3     1298
11    1256
4     1252
9     1248
2     1238
6     1230
5     1187
Name: Month, dtype: int64

In [50]:
df1 = df[df['Year'] == 2001]

total_arrests = len(df1[df1['Arrest'] == True])
total_cases = len(df1['Arrest'])

print(total_arrests/total_cases)

0.10411727708161982

In [52]:
df1 = df[df['Year'] == 2007]

total_arrests = len(df1[df1['Arrest'] == True])
total_cases = len(df1['Arrest'])

print(total_arrests/total_cases)

0.08487394957983194

In [55]:
df['LocationDescription'].value_counts()

STREET                            156564
PARKING LOT/GARAGE(NON.RESID.)     14852
OTHER                               4573
ALLEY                               2308
GAS STATION                         2111
                                   ...
AIRPORT EXTERIOR - SECURE AREA         1
JAIL / LOCK-UP FACILITY                1
CTA TRAIN                              1
APPLIANCE STORE                        1
ANIMAL HOSPITAL                        1
Name: LocationDescription, Length: 78, dtype: int64

In [62]:
Top5 = df[df['LocationDescription'] == ('STREET' or 'PARKING LOT/GARAGE(NON.RESID.)' or 'OTHER' or 'ALLEY' or 'GAS STATION')]
Top5.value_counts()

Unnamed: 0  ID       Date                 LocationDescription  Arrest  Domestic  Beat  District  CommunityArea  Year  Hour  Month  Day
0           8951354  2012-12-31 23:15:00  STREET               False   False     623   6         69             2012  23    12     0      1
98671       4661658  2006-03-17 17:00:00  STREET               False   False     2332  19.0      6              2006  17    3      4      1
98685       4642090  2006-03-17 07:30:00  STREET               False   False     712   7.0       68             2006  7     3      4      1
98684       4641459  2006-03-17 08:00:00  STREET               False   False     924   9.0       60             2006  8     3      4      1
98683       4639913  2006-03-17 08:10:00  STREET               True    False     835   8.0       70             2006  8     3      4      1
                                                                                                                                         ..
49040       7147349  2009-09-24 23:00:00  STREET               True    False     2515  25        19             2009  23    9      3      1
49039       7146172  2009-09-24 23:30:00  STREET               False   False     2232  22        49             2009  23    9      3      1
49038       7146681  2009-09-24 23:30:00  STREET               False   False     524   5         53             2009  23    9      3      1
49037       7145848  2009-09-25 00:00:00  STREET               False   False     924   9         60             2009  0     9      4      1
191605      1310988  2001-01-01 17:00:00  STREET               False   False     831   8.0       66.0           2001  17    1      0      1
Length: 122572, dtype: int64

In [64]:
gastheft = df[df['LocationDescription'] == 'GAS STATION']
gastheft['Day'].value_counts()

5    338
6    336
4    332
3    282
0    280
2    273
1    270
Name: Day, dtype: int64